.button-login{
    border: none;
    background-color: #D7EF43;
    border-radius: 5px;
    padding: 10px 90px;
    font-weight: 500;
}
.controls{
    border-radius: 5px;
    padding: 10px 70px 10px 0px;
    margin-bottom: 20px;
  border: 1px solid black;
}