.card-bg{
    background-color: #3B3B3B;
}
.bg-color{
    background-color: #2B2B2B;
}
.text-gerrn{
    color: #d7ef43;
}
.second-h{
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200
}